<style>
    :host {
        display: block;
        border: 2px groove silver;
        padding: 20px;
        margin-bottom: 20px;
        width: 400px;
        height: max-content;
        border-radius: 5px;
        box-shadow: aqua 0px 0px 10px 0px;
        text-align: -webkit-center;
    }

    th {
        font-size: 30px;
        text-decoration: underline;
    }

    tr {
        font-size: 20px;
    }

    tr:hover {
        background-color: #2dafaf;
        box-shadow: white 0px 0px 10px 0px;
    }
</style>


<table id="notesTable">
    <tr>
        <th>Name</th>
    </tr>
</table>